<div class="well">
  <h3>Reviewed</h3>
      <ul>
         <li><strong>Box is checked</strong> Timecard review completed or a Paper timecard has been submitted -
            Review completed and paper timecard indicator displayed under Follow up
            Action taken column. <em>No action required</em></li>
         <li><strong>Box is unchecked</strong> Timecard review is not completed. <em>Review is required</em></li>
         <li><strong>n/a is displayed</strong> Timecard is unavailable for review. <em>No action is required</em></li>
      </ul>
</div>

<div class="well">
  <h3>Follow-up Required</h3>
      <ul>
         <li>Box is available to be checked when you're unable to check the reviewed box
            until a discussion with the employee takes place.</li>
         <li>Follow up Action Taken must be performed within 10 days of selecting the Follow
            up Required box.</li>
      </ul>
</div>

<div class="well">
  <h3>Follow-up Action Taken</h3>
  <ul>
     <li>Follow up discussion with the employee has taken place.</li>
     <li>Selection from the list of values must be performed to complete the review process.</li>
  </ul>
</div>