<div ng-controller="reviewCtrl"> <!-- Begin review controller. -->
   <div class="container-fluid"> <!-- Begin fluid container. -->

      <div class="row"> <!-- Begin row. -->
        <div class="col-sm-3 col-md-2 sidebar"> <!-- Begin sidebar. -->
            <ul ng-repeat="employee in employees | orderBy:'name'" class="nav nav-sidebar">
               <li><a href="" 
                      class="label label-default"
                      ng-class="employee.timeCardReviewed ? 'label-success' : 'label-danger'"
                      ng-click="loadByName(employee.userName)">
                      {{employee.firstName}} {{employee.lastName}}
                   </a>
               </li>
            </ul>
         </div> <!-- End sidebar. -->
      </div> <!-- End row. -->

      <div class="well well-sm col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> <!-- Begin well. -->
         <h4><span class="label label-primary">Employee Name</span> {{employee.firstName}} {{employee.lastName}}</h4>
         <h4><span class="label label-primary">Timecard Status</span> {{employee.timeCardStatus}}</h4>
      </div> <!-- End well. -->

      <!--<div class="well well-sm col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
         <button type="button" class="btn btn-warning btn-sm" ng-click="call()">Call This Employee</button>&nbsp;&nbsp;&nbsp;
         <button type="button" class="btn btn-danger btn-sm" ng-click="hangUp()">Hang Up</button>
      </div>-->

      <div class="well well-sm col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> <!-- Begin well. -->
         <label><input type="checkbox" ng_model="employee.timeCardReviewed"> Reviewed</label>&nbsp;&nbsp;&nbsp;
         <button type="button" class="btn btn-success btn-sm" ng-click="updateReviewed()">Save</button>
      </div> <!-- End well. -->

      <div class="panel col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> <!-- Begin Tab panel. -->
         <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#review" data-toggle="tab" target="_blank">Review</a></li>
            <li><a href="#accruals" data-toggle="tab" target="_blank">Accruals and WAMs</a></li>
            <li><a href="#charts" data-toggle="tab" target="_blank">Charts</a></li>
            <li><a href="#export" data-toggle="tab" target="_blank">Export</a></li>
         </ul>
         <div id="myTabContent" class="tab-content"> <!-- Begin my tab content. -->
            
            <div class="tab-pane fade in active" id="review"> <!-- Begin tab pane fade. -->
               <div class="table-responsive"> <!-- Begin table responsive. -->
                  <table class="table table-striped"> <!-- Begin table. -->
                     <thead>
                        <tr>
                           <th><h4><span class="label label-primary">Labor Hours Distribution</span></h4></th>
                        </tr>
                        <tr>
                           <th style="width: 16%">Project</th>
                           <th style="width: 16%">Name</th>
                           <th style="width: 16%">Task</th>
                           <th style="width: 16%">SV Code</th>
                           <th style="width: 16%">Description</th>
                           <th style="width: 16%">%</th>
                           <th style="width: 16%">Comments</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="item in employee.laborHoursDist">
                           <td>{{item.projectNumber}}</td>
                           <td>{{item.projectName}}</td>
                           <td>{{item.task}}</td>
                           <td>{{item.svCode}}</td>
                           <td>{{item.description}}</td>
                           <td>{{item.percentage}}</td>
                           <td>{{item.comments}}</td>
                        </tr>
                     </tbody>
                  </table> <!-- End table. -->
               </div> <!-- End table responsive. -->

               <div class="table-responsive"> <!-- Begin table responsive. -->
                  <table class="table table-striped"> <!-- Begin table. -->
                     <thead>
                        <tr>
                           <th><h4><span class="label label-primary">Paid Leave</span></h4></th>
                        </tr>
                        <tr>
                           <th style="width: 11%">Pay Code</th>
                           <th style="width: 11%">Mon</th>
                           <th style="width: 11%">Tue</th>
                           <th style="width: 11%">Wed</th>
                           <th style="width: 11%">Thu</th>
                           <th style="width: 11%">Fri</th>
                           <th style="width: 11%">Sat</th>
                           <th style="width: 11%">Sun</th>
                           <th style="width: 11%">Comments</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="item in employee.paidLeave">
                           <td>{{item.payCode}}</td>
                           <td>{{item.hours[0]}}</td>
                           <td>{{item.hours[1]}}</td>
                           <td>{{item.hours[2]}}</td>
                           <td>{{item.hours[3]}}</td>
                           <td>{{item.hours[4]}}</td>
                           <td>{{item.hours[5]}}</td>
                           <td>{{item.hours[6]}}</td>
                           <td>{{item.comments}}</td>
                        </tr>
                     </tbody>
                  </table> <!-- End table. -->
               </div> <!-- End table responsive. -->
            </div> <!-- End tab pane fade. -->
            
            <div class="tab-pane fade" id="accruals"> <!-- Begin tab pane fade. -->
               <div class="table-responsive"> <!-- Begin table responsive. -->
                  <table class="table table-striped">
                     <thead>
                        <tr>
                           <th><h4><span class="label label-primary">Accruals</span></h4></th>
                        </tr>
                        <tr>
                           <th>Vacation Days</th>
                           <th>Personal Holidays</th>
                           <th>Sick Days</th>
                        </tr>
                     </thead>
                  <tbody>
                  </tbody>
                     <tr>
                        <td>{{employee.accruals.vacation}}</td>
                        <td>{{employee.accruals.holiday}}</td>
                        <td>{{employee.accruals.sick}}</td>
                     </tr>
                  </table>
               </div> <!-- End table responsive. -->

               <div class="table-responsive"> <!-- Begin table responsive. -->
                  <table class="table table-striped">
                     <thead>
                        <tr>
                           <th><h4><span class="label label-primary">WAMs</span></h4></th>
                        </tr>
                        <tr>
                           <th style="width: 20%">Project</th>
                           <th style="width: 20%">Name</th>
                           <th style="width: 20%">From</th>
                           <th style="width: 20%">To</th>
                           <th style="width: 20%">Chargeable</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="wam in employee.wams">
                           <td>{{wam.projectNumber}}</td>
                           <td>{{wam.projectName}}</td>
                           <td>{{wam.from}}</td>
                           <td>{{wam.to}}</td>
                           <td>{{wam.chargeable}}</td>
                        </tr>
                     </tbody>
                  </table>
               </div> <!-- End table responsive. -->
            </div> <!-- End tab pane fade. -->

            <div class="tab-pane fade" id="charts"> <!-- Begin tab pane fade. -->
               <div class="row">
                  <div class="col-md-5">
                     <h4><span class="label label-primary">Weekly Work Hours Distribution</span></h4>
                     <br>
                     <canvas barchart data="weeklyHoursChart" width="300" height="300"></canvas>
                  </div>
                  <div class="col-md-5">
                     <h4><span class="label label-primary">Accruals</span></h4>
                     <br>
                     <canvas piechart data="accrualsChart" width="250" height="250"></canvas>
                  </div>
               </div>
            </div> <!-- End tab pane fade. -->

            <div class="tab-pane fade" id="export"> <!-- Begin tab pane fade. -->
               <div class="well">
                  <!--<button type="button" class="btn btn-primary btn-lg" ng-click="">PDF</button>&nbsp;&nbsp;&nbsp;-->
                  <button type="button" class="btn btn-primary btn-lg" ng-csv="getCsvEmployee(employee)" filename="employee.csv">CSV</button>
               </div>
            </div> <!-- End tab pane fade. -->

         </div> <!-- End my tab content. -->
      </div> <!-- End Tab panel. -->

   </div> <!-- End fluid container. -->

</div> <!-- End review controller. -->